<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.x2y.englishapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/Translucent" />
        <activity android:name=".PersonPage.WordBookActivity" />
        <activity android:name=".PersonPage.LexiconActivity" />
        <activity android:name=".PersonPage.WordProgressActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PersonPage.BookActivity"/>
        <activity android:name=".schedule.StudyScheduleActivity"/>
        <activity android:name=".schedule.StudyScheduleBookLibraryActivity"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".LearnActivity"/>
        <activity android:name=".RegisterActivity"
            android:theme="@style/Translucent"/>
        <activity android:name=".ReviewPage.SelfTestActivity" >
            <intent-filter>
                <action android:name="SELF_TEST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ReviewPage.ChooseInChineseActivity"/>
        <activity android:name=".ReviewPage.SpellingActivity"/>
        <activity android:name=".ReviewPage.ReviewActivity">
            <intent-filter>
                <action android:name="REVIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>